* {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.site {
    background-color: white;
    width: 1000px;
    min-height: 720px;
    display: flex;
    flex-direction: column; /* <-- adiciona empilhamento vertical */
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.barra {
    background-color: #1D1E20;
    width: 100%;
    height: 70px;
    display: flex; /* Flex para alinhar logo e menu */
    justify-content: space-between; /* separa logo à esquerda e menu à direita */
    align-items: center; /* alinha verticalmente */
    padding: 0 25px; /* espaço interno para os lados */
}
.logo {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    margin: 0; /* removemos margem extra, pois já temos padding na barra */
}
.menu {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    display: flex; /* Alinha os itens do menu lado a lado */
    gap: 20px; /* espaço entre os itens do menu */
    margin: 0;
}
.conteudos1{
    display: flex;
    flex-direction: column;
}
.conteudos2{
    display: flex;
    flex-direction: row;
}
.containerVideos {
    display: flex;
    justify-content: flex-start; /* alinha os itens à esquerda */
    align-items: flex-start;
    padding: 40px;
    gap: 20px; /* espaçamento fixo entre os quadros, horizontal e vertical */
}
.video {
    background-color: white;
    width: 293px;
    height: 180px;
    display: flex;
    flex-direction: column;
}
.video img {
    background-color: lightgray;
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.videoTexto {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    height: 30px;
}


.containerBanner {
    width: 34%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner{
    margin-left: 32px;
    border: #1D1E20 solid 5px;
    height: 217px;
    width: 293px;
}
.bannerTexto{
    margin-left: 32px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    height: 30px;
}
.containerSugestao {
    width: 66%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* alinha os itens à esquerda */
    align-items: flex-start;
}
.sugestao{
    padding-left: 14px;
    display: flex;
    flex-direction: row;
    width: 47%;
    height: 70px;
}
.sugestaoVideo{
    background-color: lightgray;
    width: 137px;
    height: 100%;
}
.sugestaoTexto{
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
}